---
import "../../styles/global.css";

interface Props {
  title?: string;
}

const { title = "GrowthPilot" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    
    <!-- Vercel Speed Insights -->
    <script>
      window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>
  </head>

  <body class="bg-[#050816] text-white">
    <slot />
  </body>
</html>
