---
import TeamCard from "./TeamCard.astro";

const {
  members,
  strapiUrl
} = Astro.props;
---

<div
  class="grid gap-6 sm:grid-cols-2 xl:grid-cols-3"
>

  {
    members.map(
      (member: any) => (
        <TeamCard
          member={member}
          strapiUrl={strapiUrl}
        />
      )
    )
  }

</div>